---
import Page from '@/layouts/Page.astro';

export const getStaticPaths = () => {
  return [{ params: { locale: undefined } }, { params: { locale: 'fr' } }];
};
---

<Page>
  <h1>Hello</h1>
</Page>
