@use "sass:map";

.navbar {
  background-color: map.get($map: $colors, $key: dark);
  color: map.get($map: $colors, $key: light);
  padding: $base-spacing;

  &-header {
    line-height: 1;
    margin: $base-spacing;
    white-space: nowrap;
  }

  &-toggle {
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $base-spacing;
    width: $base-font-size * 2;

    &-bar {
      background-color: map.get($map: $colors, $key: light);
      height: 2px;
      width: 100%;
    }

    @include min-width("md") {
      display: none;
    }
  }

  &-nav {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;

    // transition: height 300ms;
    width: 100%;

    @include min-width("md") {
      flex-direction: row;
      height: auto;
      width: auto;
    }
  }

  &-link {
    color: inherit;
    font-size: $base-font-size * 1.25;
    line-height: 1;
    margin: $base-spacing 0;
    padding: $base-spacing;
    text-decoration: none;

    &::first-letter {
      text-transform: capitalize;
    }

    &-active {
      @include min-width("md") {
        border-bottom: 2px solid map.get($map: $colors, $key: light);
      }
    }
  }
}

.skills-image-container {
  display: none;

  @include min-width("md") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $base-spacing * 2;
  }
}

.skill {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.logo {
  height: 55px;
  margin: 5px;
  width: 55px;
}

.gallery {
  border: solid 2px black;
  height: 100%;
  overflow: hidden;
  position: relative;
  touch-action: none;
  width: 100%;
}

.gallery-item {
  height: 100%;
  position: absolute;
  width: 100%;

  > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
      0 62.5px 125px -25px rgb(50 50 73 / 50%),
      0 37.5px 75px -37.5px rgb(0 0 0 / 60%);
    height: 100%;
    touch-action: none;
    width: 100%;
  }
}

.swiper {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.swiper-slide {
  align-items: center;
  background: #fff;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  /* Center slide text vertically */
  display: box;
  display: flexbox;
  display: flex;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
