---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Joshua Unrau" />
    <meta name="description" content="Personal Portfolio of Joshua Unrau" />
    <meta name="keywords" content="Joshua, Unrau" />
    <title>Joshua Unrau</title>
  </head>
  <body class="bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <Header />
    <h1>Astro</h1>
  </body>
</html>
