---
import Section from "@/layouts/Section.astro";
import TextBox from "./TextBox.astro";
import Button from "./Button.astro";
---

<Section class="flex items-center justify-center">
  <div class="w-full">
    <h3 class="mb-5 text-center text-2xl font-semibold">Contact</h3>
    <form action="/api/contact" class="space-y-3" id="contact-form" method="post">
      <TextBox required name="name" label="Name" variant="text" />
      <TextBox required name="email" label="Email" variant="email" />
      <TextBox required name="subject" label="Subject" variant="text" />
      <TextBox required name="message" label="Message" variant="textarea" />
      <Button label="Submit" />
    </form>
  </div>
</Section>
