---
import Section from "@/layouts/Section.astro";
import { useTranslations } from "@/i18n";
const { t } = useTranslations(Astro.url);
---

<Section>
  <h3 class="mb-5 text-center text-2xl font-semibold">{t('projects.title')}</h3>
</Section>
