---
import Section from "@/layouts/Section.astro";
import { useTranslations } from "@/i18n";
const { t } = useTranslations(Astro.url);

import { getCollection } from 'astro:content';

const projects = await getCollection('projects');

---

<Section>
  <h3 class="mb-5 text-center text-2xl font-semibold">{t('projects.title')}</h3>
  <div class="space-y-6">
    {projects.map((project) => (
      <div>
        <h5 class="text-lg font-medium">{project.data.title}</h5>
        <p>{project.data.description}</p>
        <a href={project.data.sourceURL} rel="noreferrer" target="_blank">GitHub</a>
      </div>
    ))}
  </div>
</Section>
