---
type Props = astroHTML.JSX.HTMLAttributes & {
  label: string;
  icon: ImageMetadata;
  invert?: "dark" | "light";
};

const { label, icon, invert } = Astro.props;
---

<div class="group/skill border relative h-26 w-26">
  <img
    alt={label}
    class:list={[
      "absolute right-5 top-2 h-16 w-16 scale-0 transform-gpu opacity-0 duration-300 ease-in-out group-hover/skill:scale-125",
      invert === "dark" ? "dark:invert" : invert === "light" ? "invert" : undefined
    ]}
    {...icon}
  />
  <span
    class="absolute bottom-0 left-0 w-full text-center text-sm opacity-0 transition-opacity duration-300 ease-in-out group-hover/skill:opacity-100"
  >
    {label}
  </span>
</div>
