---
import { Image } from "astro:assets";

type Props = {
  image: {
    alt: string;
    src: ImageMetadata;
  };
};

const { image } = Astro.props;
---

<section class="flex min-h-[calc(100vh-4rem)] items-center justify-center">
  <div class="w-full">
    <slot />
  </div>
  <div class="hidden flex-shrink-0 sm:block sm:w-80 md:w-96 lg:w-112 2xl:w-128">
    <Image {...image} />
  </div>
</section>
